<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/w2ui-1.4.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <script src="static/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="static/scripts/w2ui-1.4.min.js"></script>
    <script type="text/javascript" src="static/scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container" style="margin-top: 10px;">
        <div class="row">
            <div class="span12 navbar">
                <div class="navbar-inner">
                    <ul class="nav">
                      <li><a href="/summary">Summary</a> </li>
                      <li class="active"><a href="/data">Data</a></li>                      
                      <li><a href="/settings">Settings</a></li>
                    </ul>
                    <ul class="nav pull-right">
                      <li><a>ver 1.0</a></li>
                    </ul>
                </div>	
            </div>
        </div>
        <div id="toolbar" style="padding: 4px; border: 1px solid #dfdfdf; border-radius: 3px"></div>
        <div id="grid" style="height: 350px;"></div>
        <div id="popup1" style="display: none; width: 600px; height: 400px;">
            <div rel="title">
                Upload Bank Statements
            </div>
            <div rel="body" style="padding: 10px; line-height: 150%">
                <input type="file" class="file-upload" accept="text/csv" multiple/>
                <button class="btn btn-secondary">Upload File</button>       
            </div>
        </div>
    </div>

    <script type="text/javascript">
    $(function () {
        $('#toolbar').w2toolbar({
            name: 'toolbar',
            items: [
                { type: 'button', id: 'upload', text: 'Upload files', img: 'icon-page' }
            ],
            onClick: function (event) {
                if (event.target == 'upload'){
                    $('#popup1').w2popup();
                }
            }            
        });

        $('#grid').w2grid({ 
            name: 'grid', 
            searches: [                
                { field: 'fname', caption: 'First Name', type: 'text' },
                { field: 'lname', caption: 'Last Name', type: 'text' },
                { field: 'email', caption: 'Email', type: 'text' }
            ],
            sortData: [ { field: 'lname', direction: 'asc' } ],
            columns: [                
                { field: 'recid', caption: 'ID', size: '50px', sortable: true },
                { field: 'fname', caption: 'First Name', size: '30%', sortable: true },
                { field: 'lname', caption: 'Last Name', size: '30%', sortable: true },
                { field: 'email', caption: 'Email', size: '40%' },
                { field: 'sdate', caption: 'Start Date', size: '120px' }
            ],
            records: [
                { recid: 1, fname: 'John', lname: 'doe', email: 'jdoe@gmail.com', sdate: '4/3/2012' },
                { recid: 2, fname: 'Stuart', lname: 'Motzart', email: 'jdoe@gmail.com', sdate: '4/3/2012' },
                { recid: 3, fname: 'Jin', lname: 'Franson', email: 'jdoe@gmail.com', sdate: '4/3/2012' },
                { recid: 4, fname: 'Susan', lname: 'Ottie', email: 'jdoe@gmail.com', sdate: '4/3/2012' },
                { recid: 5, fname: 'Kelly', lname: 'Silver', email: 'jdoe@gmail.com', sdate: '4/3/2012' },
                { recid: 6, fname: 'Francis', lname: 'Gatos', email: 'jdoe@gmail.com', sdate: '4/3/2012' },
                { recid: 7, fname: 'Mark', lname: 'Welldo', email: 'jdoe@gmail.com', sdate: '4/3/2012' },
                { recid: 8, fname: 'Thomas', lname: 'Bahh', email: 'jdoe@gmail.com', sdate: '4/3/2012' },
                { recid: 9, fname: 'Sergei', lname: 'Rachmaninov', email: 'jdoe@gmail.com', sdate: '4/3/2012' },
                { recid: 20, fname: 'Jill', lname: 'Doe', email: 'jdoe@gmail.com', sdate: '4/3/2012' },
                { recid: 21, fname: 'Frank', lname: 'Motzart', email: 'jdoe@gmail.com', sdate: '4/3/2012' },
                { recid: 22, fname: 'Peter', lname: 'Franson', email: 'jdoe@gmail.com', sdate: '4/3/2012' },
                { recid: 23, fname: 'Andrew', lname: 'Ottie', email: 'jdoe@gmail.com', sdate: '4/3/2012' },
                { recid: 24, fname: 'Manny', lname: 'Silver', email: 'jdoe@gmail.com', sdate: '4/3/2012' },
                { recid: 25, fname: 'Ben', lname: 'Gatos', email: 'jdoe@gmail.com', sdate: '4/3/2012' }
            ]
        });

        $(document).on('click', '#w2ui-popup button', function(event){
            const fileInput = $('#w2ui-popup input[type=file]')[0];

            if(fileInput.files.length == 0) {
                alert('Error : No file selected');
                return;
            }

            let file = fileInput.files[0];
            let allowed_mime_types = [ 'text/csv' ];
            let allowed_size_mb = 2;
        
            if(allowed_mime_types.indexOf(file.type) == -1) {
                alert('Error : Incorrect file type');
                return;
            }

            if(file.size > allowed_size_mb*1024*1024) {
                alert('Error : Exceeded size');
                return;
            }

            let data = new FormData();
            Array.prototype.forEach.call(fileInput.files, function(file) { data.append('files[]', file) });

            let request = new XMLHttpRequest();
            request.open('POST', '/upload-bankstatements'); 

            // upload progress event
            request.upload.addEventListener('progress', function(e) {
                let percent_complete = (e.loaded / e.total)*100;
                
                // percentage of upload completed
                console.log(percent_complete);
            });

            // AJAX request finished event
            request.addEventListener('load', function(e) {
                // HTTP status message
                console.log(request.status);

                // request.response will hold the response from the server
                console.log(request.response);
            });

            // send POST request to server side script
            request.send(data);
        });
    });
    </script>
</body>
</html>