<div id="popup1" style="display: none; width: 600px; height: 400px; overflow: hidden">
    <div rel="title">
        Upload Bank Statements
    </div>
    <div rel="body" style="padding: 10px; line-height: 150%">
	<h2>Select file(s) to upload</h2>
	<p>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			<ul class=flashes>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
	</p>
	<form method="post" action="/upload-bankstatements" enctype="multipart/form-data">
		<dl>
			<p>
				<input class="btn btn-secondary" type="file" name="files[]" multiple="true" autocomplete="off" required>
			</p>
		</dl>
		<p>
			<input class="btn btn-secondary" type="submit" value="Submit">
		</p>
	</form>
	</div>
</div>